/* ///// Fonts ///// */
@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);

@font-face {
  font-family: "Pokemon"; 
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
  src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") format("svg"); 
}

/* ///// Layout ///// */
.main {
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-areas: 
        'regular name name name name shiny'
        'pokedex pokedex pokedex type type type';
    grid-gap: 0.625rem;
    padding: 0.625rem;
}

.item1 {
  grid-area: regular;
}

.item2 {
  grid-area: name;
}

.item3 {
  grid-area: pokedex;
}

.item4 {
  grid-area: type;
}

.item5 {
  grid-area: shiny;
}

/* ///// App ///// */
.App {
  text-align: center;
}

.App-header {
  background-image: url("poke-balls.jpg");
  background-size: 100% 100%;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* ///// Body ///// */
h1 {
  color: #cc0000;
  font-family: 'Pokemon', sans-serif;
  -webkit-text-stroke: 1px white;
}

h3 {
  color: #2a75bb;
  font-family: 'Pokemon', sans-serif;
  -webkit-text-stroke: 1px black;
}

p {
  font-family: 'Lato', sans-serif;
}

/* ///// Classes ///// */
.btn {
  font-family: 'Pokemon', sans-serif;
  -webkit-text-stroke: 1px black;
}
  
.btn:hover {
  -webkit-text-stroke: 1px #2a75bb;
  background: transparent;
  color: #ffc107;
}

.search-box {
  margin: 0 4.375rem 0 4.375rem;
  padding: 1.875rem 0 0 0;
}

.form-control {
  background: transparent;
  font-family: 'Lato', sans-serif;
  color: white;
  border: 2px solid #fc2e2e;
}

.form-control:focus {
  background: transparent;
  color: white;
}


